*{
    background-color: black;
}
body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
    background-color: black;
}

.container {
    max-width: 600px;
    margin: 0 auto;
    padding: 30px;
    text-align: center;
    background-color: black;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    margin-top: 50px;
}

h1 {
    color: #3498db;
}

p {
    color: #555;
    margin-bottom: 20px;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    margin: 15px 0;
}

a {
    display: block;
    padding: 15px;
    background-color: #3498db;
    color: #fff;
    text-decoration: none;
    border-radius: 8px;
    transition: background-color 0.3s ease;
}

a:hover {
    background-color: #2980b9;
}

@media only screen and (max-width: 600px) {
    body {
        font-size: 16px;
    }

    .container {
        padding: 20px;
    }

    a {
        padding: 12px;
    }
}
